.sidebar
  .heading
  %h3 Bus stops
  #listings.listings
#map.card
-# :javascript
-#   // L.mapbox.accessToken = 'pk.eyJ1IjoibW9vbmlrZXIiLCJhIjoiY2loNHkwMmUwMHp1Znc5bTVxZGptZ3d1eSJ9.IjtdkC-4egUXjw39mKShgA';
-#   // var map = L.mapbox.map('map', 'mapbox.pirates')
-#   //    .setView([38.9048, -77.03387], 15);
-#   // L.control.fullscreen().addTo(map);
-#
-#   $(document).ready(function () {
-#
-#     function makeMap (lat, lon) {
-#       L.mapbox.accessToken = 'pk.eyJ1IjoibW9vbmlrZXIiLCJhIjoiY2loNHkwMmUwMHp1Znc5bTVxZGptZ3d1eSJ9.IjtdkC-4egUXjw39mKShgA';
-#       var map = L.mapbox.map('map', 'mapbox.pirates')
-#           .setView([lat, lon], 16);
-#
-#       // L.marker is a low-level marker constructor in Leaflet.
-#       L.marker([lat, lon], {
-#           icon: L.mapbox.marker.icon({
-#               'marker-size': 'large',
-#               'marker-symbol': 'building',
-#               'marker-color': '#fa0'
-#           })
-#       }).addTo(map);
-#
-#       // for each bus stop on dashboard, display it
-#       var stops = [];
-#       $('.bus_stop_data').each( function (index, value) {
-#         var stop = $(this).children();
-#         var s = {};
-#         s.name = stop.eq(0).text();
-#         s.id = stop.eq(1).text();
-#         s.lat = stop.eq(2).text();
-#         s.lon = stop.eq(3).text();
-#         stops.push(s);
-#       });
-#
-#       stops.forEach ( function (stop) {
-#         L.marker([stop.lat, stop.lon], {
-#             icon: L.mapbox.marker.icon({
-#                 'marker-size': 'large',
-#                 'marker-symbol': 'bus',
-#                 'marker-color': '#fa0'
-#             })
-#         }).addTo(map);
-#       });
-#     }
-#
-#     if ( $('#lat').length != 0 && $('lon') != 0 ) {
-#       var lat = parseFloat( $('#lat').text() );
-#       var lon = parseFloat( $('#lon').text() );
-#       makeMap( lat, lon );
-#       // console.log('Map generated');
-#     } else if ( $('#dashboard_lat').length == 1 && $('#dashboard_lon').length == 1 ) {
-#       var lat = parseFloat( $('#dashboard_lat').val() );
-#       var lon = parseFloat( $('#dashboard_lon').val() );
-#       // console.log('Map generated from form');
-#       makeMap( lat, lon );
-#     } // else {
-#     //  console.log('Map not generated');
-#     // }
-#   });
