#map
:javascript
  // L.mapbox.accessToken = 'pk.eyJ1IjoibW9vbmlrZXIiLCJhIjoiY2loNHkwMmUwMHp1Znc5bTVxZGptZ3d1eSJ9.IjtdkC-4egUXjw39mKShgA';
  // var map = L.mapbox.map('map', 'mapbox.pirates')
  //    .setView([38.9048, -77.03387], 15);
  // L.control.fullscreen().addTo(map);

  $(document).ready(function () {

    if ( $('#lat') !== null && $('lon') !== null ) {
      var lat = parseFloat( $('#lat').text() );
      var lon = parseFloat( $('#lon').text() );
      L.mapbox.accessToken = 'pk.eyJ1IjoibW9vbmlrZXIiLCJhIjoiY2loNHkwMmUwMHp1Znc5bTVxZGptZ3d1eSJ9.IjtdkC-4egUXjw39mKShgA';
      var map = L.mapbox.map('map', 'mapbox.pirates')
          .setView([lat, lon], 16);

      // L.marker is a low-level marker constructor in Leaflet.
      L.marker([lat, lon], {
          icon: L.mapbox.marker.icon({
              'marker-size': 'large',
              'marker-symbol': 'building',
              'marker-color': '#fa0'
          })
      }).addTo(map);
    }
  });
