.row
  .col.s12.m6
    .card
      .card-content
        - if @my_dashboards
          - if @my_dashboards.length != 0
            %ul.collection.with-header
              %li.collection-header
                %h4 Your Dashboards
              - @my_dashboards.each do |dash|
                %li.collection-item
                  %div
                    = link_to dash.title, dash
                    = link_to dashboard_path(dash), method: :delete, data: { confirm: 'Are you sure?' }, class: 'secondary-content' do
                      %i.material-icons.small delete
                    = link_to edit_dashboard_path(dash), class: 'secondary-content' do
                      %i.material-icons.small edit
          - else
            %p You don't have any dashboards yet.
  .col.s12.m6
    .card
      .card-content
        - if @dashboards
          %ul.collection.with-header
            %li.collection-header
              %h4 Everyone's Dashboards
            - @dashboards.each do |dash|
              %li.collection-item
                %div
                  = link_to dash.title, dash
        - else
          %p No public dashboards are available yet.
